@import "../../index.scss";

.minicart-item {
  display: flex;
  flex-direction: row;
  margin-bottom: 40px;

  &__info {
    flex-basis: 70%;
  }

  &__brand {
    font-weight: 300;
    font-size: 16px;
    line-height: 160%;
    margin-bottom: 5px;
  }

  &__name {
    font-weight: 300;
    font-size: 16px;
    line-height: 160%;
    margin-bottom: 5px;
  }

  &__price {
    font-weight: 500;
    font-size: 16px;
    line-height: 160%;
    margin-bottom: 25px;
  }

  &__attributes {
    &-name {
      font-weight: 700;
      font-size: 18px;
      line-height: 160%;
    }
  }

  &__attribute {
    font-size: 14px;
    line-height: 160%;
    font-weight: 400;

    border: 1px $color_text solid;
    background-color: $color_white;
    margin-right: 10px;
    margin-bottom: 10px;
  }

  &__actions {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    margin-right: 10px;

    width: fit-content;
  }

  &__action {
    height: 24px;
    width: 24px;
    background-color: $color_white;
    border: 1px solid $color_text;

    text-align: center;

    font-size: 24px;
    line-height: 100%;
  }

  &__counter {
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 160%;
  }

  &__picture {
    width: 20%;
    & img {
      display: block;
      width: 100%;
      object-fit: cover;
    }
  }
}
