@import "../../index.scss";

.product-page {
  display: flex;
  justify-content: center;
  gap: 20px;

  max-width: 70%;
  margin: 0 auto;

  padding: 20px;

  &__gallery {
    flex-basis: 60%;
  }

  &__info {
    flex-basis: 40%;
  }

  &__brand {
    font-weight: 600;
    font-size: 30px;
    color: $color_text;
  }

  &__name {
    font-weight: 400;
    font-size: 30px;
    color: $color_text;
    margin-bottom: 40px;
  }

  &__price {
    margin-bottom: 30px;

    &-header {
      font-family: $font_special_for_price_lol;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 16px;
      line-height: 100%;
      margin-bottom: 15px;
    }

    & p {
      font-weight: 700;
      font-size: 24px;
      line-height: 75%;
    }
  }

  &__add {
    background-color: $color_green;
    color: $color_white;
    border: none;
    font-size: 16px;
    font-weight: 600;
    width: 100%;
    padding: 20px;
    text-transform: uppercase;
    margin-bottom: 40px;

    &:hover {
      background-color: #4ca764;
    }

    &:active {
      background-color: #69e68a;
    }
  }

  &__remove {
    background-color: #aa5e5e;
    color: $color_white;
    border: none;
    font-size: 16px;
    font-weight: 600;
    width: 100%;
    padding: 20px;
    text-transform: uppercase;
    margin-bottom: 40px;

    &:hover {
      background-color: #a74c4c;
    }

    &:active {
      background-color: #793838;
    }
  }

  &__gray {
    background-color: $color_gray;
    color: $color_white;
    border: none;
    font-size: 16px;
    font-weight: 600;
    width: 100%;
    padding: 20px;
    text-transform: uppercase;
    margin-bottom: 40px;
  }

  &__desription {
    font-family: $font_alt;
    font-size: 16px;
    font-weight: 400;
    line-height: 160%;
  }
}
