@import "../../index.scss";

.product-list {
  max-width: 1240px;
  margin: 40px auto 0;

  &__header {
    font-size: 42px;
    font-weight: 400;
    text-transform: capitalize;
    margin-bottom: 40px;
  }

  &__products {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 40px;
    // justify-content: space-between;
  }

  &__loading {
    text-align: center;
  }
}
