@import "../../index.scss";

.product-list {
  max-width: 70%;
  margin: 0 auto;

  &__header {
    font-size: 42px;
    font-weight: 400;
    text-transform: capitalize;
  }

  &__products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__loading {
    text-align: center;
  }
}
