@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&family=Roboto&display=swap");

$color_text: #1d1f22;
$color_green: #5ece7b;
$color_gray: #a6a6a6;
$color_white: #ffffff;

$font_main: "Raleway", sans-serif;
$font_alt: "Roboto", sans-serif;

* {
  font-family: $font_main;
}
